<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UtilityPaymentsServlet</servlet-name>
    <servlet-class>ru.naissur.payments.web.UtilityPaymentsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UtilityPaymentsServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
